<html>
  {% extends "navbar.html" %}
  {%block content%}

  <body>
    <form action='' method = "POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Medical Staff ID</label>
        <input type="medstaffID" class="form-control"  id="medstaffID" name="medstaffID"   placeholder="Enter Medical Staff ID">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Schedule ID</label>
        <input type="scheduleID" class="form-control" id="scheduleID" name="scheduleID"  placeholder="Enter Schedule ID">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
  {%endblock%}

</html>
