<html>
  {% extends "navbar.html" %}
  {%block content%}

  <body>
    <form action='' method = "POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Staff ID</label>
        <input type="staffID" class="form-control"  id="staffID" name="staffID"   placeholder="Enter Staff ID">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="name" class="form-control"  id="fname" name="fname"   placeholder="Enter First Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="name" class="form-control" id="lname" name="lname"  placeholder="Enter Last Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Phone Number</label>
        <input type="phone" class="form-control" id="phone"  name="phone" aria-describedby="phoneHelp" placeholder="Enter Phone Number">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Department ID</label>
        <input type="departmentID" class="form-control" id="departmentID" name="departmentID" placeholder="Enter Department ID">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
  {%endblock%}

</html>
