<html>
  {% extends "navbar.html" %}
  {%block content%}

  <body>
    <form action='' method = "POST">
      <div class="form-group">
        <label for="patientIDLabel">Doctor ID</label>
        <input type="doctorID" class="form-control"  id="doctorID" name="doctorID"   placeholder="Enter Doctor ID">
      </div>
      <div class="form-group">
        <label for="patientIDLabel">Specialization</label>
        <input type="specialization" class="form-control"  id="specialization" name="specialization"   placeholder="Enter Specialization">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
  {%endblock%}

</html>
