<html>
    <body>
        {% extends "navbar.html" %}
        {%block content%}

        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Insurance Number</th>
                <th scope="col">Patient First Name</th>
                <th scope="col">Patient Last Name</th>
                <th scope="col">Insurance Class</th>
                <th scope="col">Insurance Company</th>
              </tr>
            </thead>
            <tbody>
              {% for insurance in insurances %}
              <tr>
                <th scope="row">{{insurance[0]}}</th>
                <td>{{insurance[1]}}</td>
                <td>{{insurance[2]}}</td>
                <td>{{insurance[3]}}</td>
                <td>{{insurance[4]}}</td>
                <td>{{insurance[5]}}</td>

              </tr>
            {% endfor %}

            </tbody>
          </table>
          {% endblock %}

    </body>
</html>