<html>
    <body>
        {% extends "navbar.html" %}
        {%block content%}

        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Appointment ID</th>
                <th scope="col">Secretary First Name</th>
                <th scope="col">Secretary Last Name</th>
                <th scope="col">Room Number</th>
                <th scope="col">Starting Time</th>
                <th scope="col">Finish Time</th>
              </tr>
            </thead>
            <tbody>
              {% for appointment in appointments %}
              <tr>
                <th scope="row">{{appointment[0]}}</th>
                <td>{{appointment[1]}}</td>
                <td>{{appointment[2]}}</td>
                <td>{{appointment[3]}}</td>
                <td>{{appointment[4]}}</td>
                <td>{{appointment[5]}}</td>

              </tr>
            {% endfor %}

            </tbody>
          </table>
          {% endblock %}

    </body>
</html>