<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Hospital Management System</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/patient">Patient <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/patient">View</a></li>
                  <li><a href="http://127.0.0.1:5000/patient/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/patient/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/patient/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/staff">Staff <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/staff">View</a></li>
                  <li><a href="http://127.0.0.1:5000/staff/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/staff/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/staff/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/manager">Manager <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/manager">View</a></li>
                  <li><a href="http://127.0.0.1:5000/manager/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/manager/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/manager/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/secretary">Secretary <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/secretary">View</a></li>
                  <li><a href="http://127.0.0.1:5000/secretary/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/secretary/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/medicalstaff">Medical Staff <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/medicalstaff">View</a></li>
                  <li><a href="http://127.0.0.1:5000/medicalstaff/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/medicalstaff/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/medicalstaff/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/doctor">Doctor <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/doctor">View</a></li>
                  <li><a href="http://127.0.0.1:5000/doctor/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/doctor/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/doctor/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/nurse">Nurse <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/nurse">View</a></li>
                  <li><a href="http://127.0.0.1:5000/nurse/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/nurse/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/medecine">Medecine <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/medicine">View</a></li>
                  <li><a href="http://127.0.0.1:5000/medicine/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/medicine/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/medicine/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/department">Department <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/department">View</a></li>
                  <li><a href="http://127.0.0.1:5000/department/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/department/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/department/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/schedule">Schedule <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/schedule">View</a></li>
                  <li><a href="http://127.0.0.1:5000/schedule/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/schedule/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/schedule/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/appointment">Appointment <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/appointment">View</a></li>
                  <li><a href="http://127.0.0.1:5000/appointment/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/appointment/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/appointment/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/room">Room <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/room">View</a></li>
                  <li><a href="http://127.0.0.1:5000/room/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/room/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/room/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/patientDependent">Patient Dependent <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/patientDependent">View</a></li>
                  <li><a href="http://127.0.0.1:5000/patientDependent/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/patientDependent/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/patientDependent/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/insurance">Insurance <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/insurance">View</a></li>
                  <li><a href="http://127.0.0.1:5000/insurance/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/insurance/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/insurance/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/workswith">workswith <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/workswith">View</a></li>
                  <li><a href="http://127.0.0.1:5000/workswith/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/workswith/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/workswith/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://127.0.0.1:5000/makes">makes <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/makes">View</a></li>
                  <li><a href="http://127.0.0.1:5000/makes/add">Insert</a></li>
                  <li><a href="http://127.0.0.1:5000/makes/update">Update</a></li>
                  <li><a href="http://127.0.0.1:5000/makes/delete">Delete</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Special Queries<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://127.0.0.1:5000/department/staff">Get Department Staff Count</a></li>
                  <li><a href="http://127.0.0.1:5000/department/doctor">Get Department Doctor Count</a></li>
                  <li><a href="http://127.0.0.1:5000/doctor/patient">Get Doctors Patient</a></li>
                  <li><a href="http://127.0.0.1:5000/doctor/department">Get Doctor by Department</a></li>
                </ul>
              </li>


            </ul>
          </div>
        </div>
      </nav>    
    {% block content %}
    {% endblock %}
  
</body>
</html>
