<html>
    <body>
        {% extends "navbar.html" %}
        {%block content%}

        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nurse ID</th>
                <th scope="col">Nurse First Name</th>
                <th scope="col">Nurse Last Name</th>
                <th scope="col">Doctor ID</th>
                <th scope="col">Doctor First Name</th>
                <th scope="col">Doctor Last Name</th>

              </tr>
            </thead>
            <tbody>
              {% for workswith in workswiths %}
              <tr>
                <th scope="row">{{workswith[0]}}</th>
                <td>{{workswith[1]}}</td>
                <td>{{workswith[2]}}</td>
                <td>{{workswith[3]}}</td>
                <td>{{workswith[4]}}</td>
                <td>{{workswith[5]}}</td>


              </tr>
            {% endfor %}

            </tbody>
          </table>
          {% endblock %}

    </body>
</html>